@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3 linear;
    filter: brightness(1);
}
.btn:hover, .btn:active{
    filter: brightness(1.4);
}
.btn.sec{
    background: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
}
.btn.pry{
    background: var(--Bright-blue) ;
    color: var(--Very-pale-blue);
    
}
p{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;
    color: var(--Desaturated-blue);
}

body{
    background: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.bg-img
    {
        position: absolute;
        top: 0;
        left: 0;
        background: url('./images/pattern-background-desktop.svg') 20% 20% / cover;
        width: 100vw;
        height: 50vh;
        z-index: -1;
        animation: introLoad 2s forwards;
      
      }

.card{
 background-color: #fff;
 display: flex;
 flex-direction: column;
 text-align: center;
align-items: center;
justify-content: center;
 width: clamp(350px, 50vw, 500px);
    border-radius: 10px;
    height: max-content;
    overflow: hidden;
    padding-bottom: 1rem;
}

.card .card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.card .card-header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .info{
 width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.card .info h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: var(--Dark-blue);
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: var(--Very-pale-blue);
    border-radius: 10px;
    margin-top: 2rem;
}
.details .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.details .icon img{
    padding-right: 1rem;
}

.details a{
    color: var(--Dark-blue);
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bold;
    text-decoration: none;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    margin-top: 1rem;
}

.actions .btn.sec{
    width: 100%;
    margin-top: 0.5rem;
}



